{% extends "app.twig" %}

{% block title %}Taxas{% endblock %}

{% block content %}
    <hr>
    <div class="row col-12">
        <form method="post" class="col-12"">
            <div class="row col-12">
                <div class="form-group">
                    <label for="name">Taxa</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nome da Taxa" required>
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group">
                    <label for="name">Valor (%)</label>
                    <input type="text" class="form-control" id="rate" name="rate" placeholder="Valor Percentual" required>
                </div>
            </div>

            <div class="row col-12">
                <button type="submit" class="btn btn-sm btn-outline-success">Cadastrar</button>
                <a href="/">
                    <button type="button" class="btn btn-sm btn-outline-dark">Voltar</button>
                </a>
            </div>
        </form>
    </div>
    <hr>
{% endblock %}