{% extends "app.twig" %}

{% block title %}Tipos de Produtos{% endblock %}

{% block content %}
    <hr>
    <div class="row col-12">
        <form method="post" class="col-12">
            <div class="row col-12">
                <div class="form-group">
                    <label for="name">Tipo de Produto</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nome do produto" required>
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group">
                    <label for="type">Imposto</label>
                    <select class="form-control" id="rates" name="rates[]" multiple required>
                        <option value="">Nada selecionado</option>
                        {% for rate in rates %}
                            <option value="{{ rate.get('id') }}">{{ rate.get('name') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row col-12">
                <button type="submit" class="btn btn-sm btn-outline-success">Cadastrar</button>
                <a href="/">
                    <button type="button" class="btn btn-sm btn-outline-dark">Voltar</button>
                </a>
            </div>
        </form>
    </div>
    <hr>
{% endblock %}